@page "/"
@using Microsoft.AspNetCore.Authorization
@using Components
@using Newtonsoft.Json
@using BlazorApp18.Classes
@using BlazorApp18.Zadání
@attribute [Authorize]
@inject HttpClient _httpClient


<div class="flex flex-col">
    <p class="text-blue-700/90 text-4xl font-bold text-center">THANK YOU</p>
    <p class="text-blue-700/70 text-justify">Thank you a million times for your donation. It lets us keep operation and introduce new features which benefit the community even more. We promise to you money wisely.</p>

            <Slider MinValue="0" MaxValue="100"  OnChanged="i => SliderValue = i"></Slider>

    <div class="flex">
        <Selectv2 TEntity="DropDownItem" SelectedItem="Period" ImgSizeTailwind="w-8 h-8" Items="@PeriodItems" OnChanged="PeriodChanged"/>
        <Input Placeholder="Name (or company name)"></Input>
    </div>

    <div class="flex">
        <Input Placeholder="Message"></Input>
        <Button Text="Donate"></Button>
    </div>


    <p class="text-blue-700/90 text-2xl font-bold">Donations this month</p>

</div>

@code
{
    public List<IPeriod> PeriodItems { get; set; } = new List<IPeriod>()
    {
        new MonthlyPeriod(),
        new YearlyPeriod()
    };

    IPeriod Period { get; set; } = new MonthlyPeriod();


    private void PeriodChanged(ISelecatble obj)
    {
        Period = (IPeriod) obj;
    }

    public int? SliderValue { get; set; }
}