<style>

    .svgHeader {
      font-size: 35px;
      font-weight: bold;
      line-height: normal;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    
    .svgText {
      font-size: 21px;
      font-weight: bold;
      line-height: normal;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    
</style>

<div style="user-select: none" class="postBorder bg-white/30 flex flex-col  overflow-hidden">

    <div class="flex flex-col">
        <div class="flex flex-col w-full items-center ">
            
            <svg class="svgHeader">
                <foreignObject width="100%" height="100%" >
                    <text class="object-fill tracking-wider">
                        Aby se tohle break linovalo přirozeně podle variabilní šírky postu
                    </text>
                 </foreignObject>
            </svg>  
            
            <svg class="svgText">
                <foreignObject width="100%" height="100%" >
                    <text xmlns="http://www.w3.org/1999/xhtml" class="object-fill tracking-wider">
                        Aby se tohle break linovalo přirozeně podle variabilní šírky postu
                    </text>
                </foreignObject>
            </svg>
            
        </div>
    </div>
</div>